<div class="sale-body">
  <div class="conteiner">
    <header class="miniMenu">
      <div class="menu">
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
          <div class="bars" id="bar1"></div>
          <div class="bars" id="bar2"></div>
          <div class="bars" id="bar3"></div>
        </label>
        <nav class="nav">
          <ul style="margin-bottom: 0; padding: 0 0">
            <li><a href="/shop">Home</a></li>
            <li class="logout"><a (click)="logOut()">Log out</a></li>
          </ul>
        </nav>
        <div class="nav-left">
          <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle user-name" href="#" id="DropdownUser" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">{{user.nombreUsuario}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="downItem" [routerLink]="['/loginArtist']">Be artist</a></li> 
              <li><a class="downItem" (click)="logOut()" style="color: rgb(184, 72, 72);">Log Out</a></li>
              @if(user.tipoUsuario){
                <li><a class="downItem" (click)="loadAdmin()">Admin</a></li>
              }
            </ul>
          </li>
        </div>
      </div>
    </header>
        <!--Abajo del nav-->
        <div class="contenido" style="margin-top: 6rem;">
            <div class="formG">
                <div class="email">
                    <label for="email" style="margin-bottom: 7px;">Email</label>
                    <input id="email" class="form-control" name="email" type="email" placeholder="{{user.nombre}}" required>
                 </div>
                 <div style="margin-bottom: 30px; font-size: 15px; height:100px;">
                    <div class="form-check simpe" >
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Simpe Movil
                    </label>
                  </div>
                  <div class="form-check transaccion" style="height: 50%;padding-right: 10px; padding: 0 40px; padding-top: 10px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                     Transaccion
                    </label>
                  </div>
                 </div>
                
                 <form class="row g-3" style="margin-bottom: 30px; ">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Name</label>
                      <input type="text" class="form-control" required id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Last</label>
                      <input type="text" class="form-control" required id="inputPassword4">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text"   class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                    </div>
                    <div class="location">
                        <div>
                        <label for="inputState" class="form-label">Province</label>
                        <select id="inputState" required class="form-select">
                          <option selected>Choose...</option>
                          <option>Guanacaste</option>
                          <option>Alajuela</option>
                          <option>Heredia</option>
                          <option>Puntarenas</option>
                          <option>Limon</option>
                          <option>San Jose</option>
                          <option>Cartago</option>
                        </select>
                      </div>
                    <div >
                      <label for="inputCity" class="form-label">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div >
                      <label for="inputZip" class="form-label">Code postal</label>
                      <input type="number" class="form-control" id="inputZip">
                     </div>
                </div>
                    
      
                    <!---->
                    <select class="form-select form-select-lg mb-5" required aria-label="Large select example" (change)="updateShippingMethod($event)">
                      <option selected>Select the method of receiving the product</option>
                      <option value="Home delivery">Home delivery</option>
                      <option value="Product recall">Product recall</option>
                  </select>
                      <div style="width: 100%; display: flex; justify-content: center;">
                        <button type="submit" class="compra"> Pick up!</button>
                      </div>
                       </form>
            </div>

            <div class="formG-rigth" >
                <div class="card" style="border-bottom: 0;">
                    <div class="row g-0">
                      <div class="col-md-4 imgBuy">
                        <img style="object-fit: cover; width: 100%;" [src]="getImage(obra)" alt="idk" >
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                            <div style="display: flex; justify-content: space-between; border-bottom: solid 2px gray; ">
                              <h5 class="card-title" style="font-size: 20px;"><strong>{{obra.nombre}}</strong></h5>
                               <p class="card-text" style="margin-bottom: 25px;"><strong>Price:</strong> {{obra.precio}}</p>  
                            </div>
                            <div>
                              <div class="datosResivo" style="margin-top: 20px" >
                                <h6 class="card-title" style="font-size: 18px; color: rgb(106, 106, 106); ">SubTotal</h6>
                                 <p class="card-text" style="margin-bottom: 15px;"><strong style="font-size: 18px;">{{obra.precio}}</strong></p> 
                              </div >
                              <div class="datosResivo">
                                <h6 class="card-title" style="font-size: 18px; color: rgb(106, 106, 106);">Shipping method</h6>
                                <p class="card-text" style="margin-bottom: 15px;"><strong style="font-size: 18px;" id="shippingMethod">{{shippingCost}}</strong></p>
                            </div>
                            <div>
                              <div class="datosResivo">
                                <h6 class="card-title" style="font-size: 18px; color: rgb(106, 106, 106);">Total</h6>
                                <p class="card-text" style="margin-bottom: 15px;"><strong style="font-size: 18px;">{{totalCost}}</strong></p>
                            </div>
                            </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
</div>
    </div>
</div>