<div class="col-md-12 signup-body">

    <span>
        @switch (status) {
            <!-- @case (0) {
                <div class="alert alert-success"><p>Registro exitoso! </p></div>
                
            } -->
            @case (1) {
                <div class="alert alert-warning"><p>No se pudo agregar el artista!</p></div>
            }
            @case (2) {
                <div *ngFor="let error of errors" class="alert alert-danger">
                    <p>{{ error }}</p>
                </div>
                <!-- <div class="alert alert-danger"><p>Error de servidor!</p></div> -->
            }
        }
        </span>
    
    <div class="col-md-4 mx-auto signup-container">
    <h3>Sign-<span class="colored-text">In</span></h3>
    <form class="col-md-8 mx-auto" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-group">            
            <label for="name">Name</label>
            <input id="name" type="text"  class="form-control" name="name" 
                pattern="^(?=.*[a-z])(?=.*[A-Z]).{4,}$"/>
             
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" 
                pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" />

            <label for="password">Password</label>
            <input id="password" type="password"  class="form-control" name="password">

            <label for="user">Artist User</label>
            <input id="user" type="text" class="form-control" name="user" 
                pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" />

            <label for="phone">Phone</label>
            <input id="phone" type="phone"  class="form-control" name="phone">

        </div> 
        <div class="btn-div">      
        <input type="submit" class="btn mt-2" value="Sign-In">
        </div> 
        
    </form>
    </div>
</div>



