<div class="shop-body">
  <div class="conteiner">
    <header class="miniMenu">
      <div class="menu">
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
          <div class="bars" id="bar1"></div>
          <div class="bars" id="bar2"></div>
          <div class="bars" id="bar3"></div>
        </label>
        <nav class="nav">
          <ul style="margin-bottom: 0; padding: 0 0">
            <li><a style="cursor: pointer;" (click)="showAll(true)">See all</a></li> <!--Cambie acá-->
            <li><a href="skills.html">Artists</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Category</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="downItem" (click)="selectCategory('Cubism')">Cubism</a></li>
                <li><a class="downItem" (click)="selectCategory('Impressionism')">Impressionism</a></li>
                <li><a class="downItem" (click)="selectCategory('Expressionism')">Expressionism</a></li>
                <li><a class="downItem" (click)="selectCategory('Realism')">Realism</a></li>
                <li><a class="downItem" (click)="selectCategory('Surrealism')">Surrealism</a></li>
                <li><a class="downItem" (click)="selectCategory('Abstract')">Abstract</a></li>
                <li><a class="downItem" (click)="selectCategory('Renaissance')">Renaissance</a></li>
                <li><a class="downItem" (click)="selectCategory('Baroque')">Baroque</a></li>
                <li><a class="downItem" (click)="selectCategory('Rococo')">Rococo</a></li>
                <li><a class="downItem" (click)="selectCategory('Romanticism')">Romanticism</a></li>
                <li><a class="downItem" (click)="selectCategory('Neoclassicism')">Neoclassicism</a></li>
                <li><a class="downItem" (click)="selectCategory('Modernism')">Modernism</a></li>
                <li><a class="downItem" (click)="selectCategory('Pop Art')">Pop Art</a></li>
                <li><a class="downItem" (click)="selectCategory('Naïve Art')">Naïve Art</a></li>
              </ul>
            </li>
            <li><a href="/shop" (click)="showHome(true)">Home</a></li>
            <li class="logout"><a (click)="logOut()">Log out</a></li>
          </ul>
        </nav>
        <div class="busqueda" style="display: flex; width: 35%;">
          <input class="form-control me-2" style="padding-top: 10px;" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-success" style="padding-top: 10px;" type="submit">Search</button>
        </div>
        <div class="nav-left">
          <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle user-name" href="#" id="DropdownUser" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">{{user.nombreUsuario}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="downItem" [routerLink]="['loginArtist']">Be artist</a></li>
              <li><a class="downItem" (click)="logOut()" style="color: rgb(184, 72, 72);">Log Out</a></li>
              @if(user.tipoUsuario){
                <li><a class="downItem" (click)="loadAdmin()">Admin</a></li>
              }
            </ul>
          </li>
        </div>
      </div>
    </header>
    <!--Abajo del nav-->

    <!--Cambie acá-->

    @if (loadObrasLength(selectedCategory) >= 1) {
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work"><span class="workGradient">WORK</span> ART</p>
    </div>
    <div style="border-bottom: solid 2px gray;">
      <div class="categoria">{{ selectedCategory }}</div>
      <div class="colums">
        <div class="cardColm-a" *ngFor="let obra of auxObras">
          <div class="card" style="height: 100%;">
            <img [src]="getImage(obra)" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ obra.nombre }}</h5>
              <p class="card-text"><strong>$ {{ obra.precio}}</strong></p>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <a href="#" class="btn btn-primary"
                  style="width: 100%; background: linear-gradient(90deg,rgba(219, 133, 133, 1),rgba(54, 0, 207, 1)); border: none;">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }@else if(onClick){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work"><span class="workGradient">Error</span> :C</p>

    </div>
    <div class="no-obras" style="color: #fff;">No artworks available for this category.</div>
    }

    @if(flag){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work"><span class="workGradient">WORK</span> ART</p>
    </div>
    <div *ngFor="let categoria of categoryExists">
      
      @if(categoryExistsLength(categoria) >= 1){

      <div style="border-bottom: solid 2px gray;">
        <div class="categoria">{{ categoria }}</div>
        <div class="colums">
          <div class="cardColm-a" *ngFor="let obra of auxObras.slice(0, 6)">
            <!-- Card -->
            <div class="card" style="height: 100%;">
              <img [src]="getImage(obra)" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ obra.nombre }}</h5>
                <p class="card-text"><strong>$ {{ obra.precio}}</strong></p>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <a href="#" class="btn btn-primary"
                    style="width: 100%; background: linear-gradient(90deg,rgba(219, 133, 133, 1),rgba(54, 0, 207, 1)); border: none;">View</a>
                </div>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
      }@else{<div></div>}
    </div>
    }@else{<div></div>}

    @if(all){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work"><span class="workGradient">All</span> ART</p>
    </div>
      <div class="colums">
        <div class="cardColm-a" style="margin-top: 20px;" *ngFor="let obra of obras">
          <div class="card" style="height: 100%;">
            <img [src]="getImage(obra)" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ obra.nombre }}</h5>
              <p class="card-text"><strong>$ {{ obra.precio }}</strong></p>
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <a href="#" class="btn btn-primary"
                  style="width: 100%; background: linear-gradient(90deg, rgba(219, 133, 133, 1), rgba(54, 0, 207, 1)); border: none;">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>