<div class="shop-body">
    <div class="conteiner">
        <header class="miniMenu">
            <div class="menu container">

            <input type="checkbox" id="checkbox">
            <label for="checkbox" class="toggle">
              <div class="bars" id="bar1"></div>
              <div class="bars" id="bar2"></div>
              <div class="bars" id="bar3"></div>
           </label>
            <nav class="nav">
                <ul style="margin-bottom: 0; padding: 0 0">
                    <li> <a href="Index.html">About me</a></li>
                    <li> <a href="skills.html">Skills</a></li>
                    <li><a href="experience.html">Experience</a></li>
                    <li> <a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <div style="display: flex;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
            <div style="display: flex; width: 20%;">
                <span style="display: flex;     flex-direction: column;
                align-items: center;"><i class="fa-solid fa-circle-user"></i>User namer</span>
                <p style="color: rgb(215, 124, 124);">Log out</p>
            </div>
        </div>
        </header>
    </div>
</div>
