<div class="body-home">
    <div class="forma">
        <div class="cabeza">
            <p class="look" >LOOK 
                MY 
                <span class="colored-text">POINT</span></p>
        </div>
        <div class="introducction">
            <div class="text-container">
            <p class="text-Intro">-GALERY OF ART SHARE </p>
            <p class="text-Intro">YOUR <span class="colored-text">ART</span> WITH </p>
            <p class="text-Intro" style="margin-bottom: 10%;">EVERYONE </p>
            </div>
            <div class="btna" style="display: flex; align-items: center;"><button class="button" [routerLink]="['login']">
                LOG-IN <i class="fa-solid fa-arrow-right"></i>
              </button></div>
        </div>
        <div class="container-text">
            <div class="container_tex1">
                <p class="tex1">ART DOESN'T DIE IT</p>
                <p class="tex1"> <span class="colored-text">JUST</span> CHANGES</p>
            </div>
            <div class="container_tex2">
                <p class="tex2"><span class="colored-text">---></span> SHARING ART</p>
                <p class="tex2">SINCE 2012</p>
            </div>
        </div>

        <div class="colums">
            <div>
            a
            </div>
            <div>
            a
            </div>
            <div>
            a
            </div>
        </div>
        
    </div>
</div>
