.body-home{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
.forma{
    width: 80%;
    height: 100%;
}
.cabeza{
    position: relative;
    width: 100%;
    height:20%;
    background:linear-gradient(rgba(255,255,255,0),rgb(black)),url(/assets/img/cabeza.jpg) no-repeat center
    center fixed;
}