@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.cuerpo{
    width: 100%;
    font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    color:aliceblue;
    background: linear-gradient(90deg, rgba(21,74,180,1) 0%, rgba(166,59,255,1) 100%);
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    z-index: 1000; /* Aseguramos que el navbar esté sobre otros elementos */
    position: relative;
}
   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  .CourseUserName{
    width: 140px;
  }

  .input {
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #e0e0e0;
    caret-color: #f7f7f8;
    color: #000000;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
  }
  
  .input:hover {
    border: 2px solid rgba(215, 215, 215, 0.333);
  }
  
  .input:focus {
    border: 2px solid #a970ff;
    background-color: #d1d1d1;
  }
  
  .search__btn {
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
  }
  .Torso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .medio{
  display: flex;
  width: 100%; /* Permite que el carrusel ocupe todo el ancho disponible */
  max-width: 1300px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  }

 .ts .carousel-item  {
    height: 300px; /* Ajusta esta altura según lo que necesites */
  }
  
  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Escala la imagen adecuadamente sin deformarse */
  }

  .ima1 {
    object-position: center center; /* Posiciona la imagen en el centro */
  }
  
  .ima2 {
    object-position: center center; /* Posiciona la imagen en la parte inferior */
  }

   .ima3 {
    object-position: center top;
  }

  .texto-img{
    width:25%;
    font-size: 12px;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
  }

.Text-Introduction{
  align-items: flex-start;
  padding-left: 10px;
  margin-bottom: 40px;
}
.subtitle{
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -.016rem;
  margin-bottom: 25px;
}

.instituciones{
  width: 100%; 
  max-width: 1300px;
  align-items: end;
  padding: 10px;
}

.instituciones img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}
.recomendation .col-md{
  display: flex;
  align-items: center;
}
.text-link {
  font-size: 20px;
  text-decoration: none;
  color: gray;
  transition: 0.3s;
  
}
.text-link span{
  transition: 0.1s;
}
.text-link:hover{
  color: #000000;
  font-size: 22px;
}
.text-link:hover span{
  margin-left: 5px;
}
.button {
  --bg-color: #fff;
  --main-color: #000000;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 25px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.carousel-inner-personal{
  position: relative;
  width: 100%;
}

.categories{
  display: flex;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.imagen-categorie{
  max-width: 25%; /* La imagen no será más grande que su contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  display: block;
}

.subcategorie{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow:  14px 14px 28px #e6e6e6,
  -14px -14px 28px #ffffff;
  transition: 400ms;
  justify-content: space-evenly;
}

.categories .subcategorie:hover {
  transform: scale(1.1, 1.1);
}

.categories:hover > .subcategorie:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.img-student{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}

.content-extra{
  flex-direction: row; justify-content: space-around;
}
.img-student img{
  box-shadow: 14px 14px 1px #8f88ed, -14px -14px 1px #000000;
}
.texto-student{
display: flex;
justify-content: center;
align-items: start;
width: 50%;
flex-direction: column;

}
.texto-student span{
  font-size: 23px;
}


@media (max-width: 768px) {
  .instituciones{
    grid-template-columns: repeat(2, 2fr); /* Cambia a 2 columnas en pantallas pequeñas */
  }
}

/* Ajuste para pantallas aún más pequeñas (móviles) */
@media (max-width: 576px) {
  .instituciones .grid {
    grid-template-columns: 1fr; /* Una sola columna en pantallas muy pequeñas */
  }
  .card-title{
    font-size: 14px;
  }
.categories{
  gap:20px;
}
  .subcategorie{
    font-size: 16px;
    width: 165px;
    text-align: center;
  }

  
}
  @media (max-width: 992px) {
    .container{
      padding: 0;
      justify-content: flex-start;
      width: 60%;
      margin: 0;
      margin-bottom: 10px;
    }
    .medio {
      width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
     /* Deja que el contenedor del carrusel se ajuste automáticamente */
    }
    .content-extra{
      flex-direction: column;
    }
    .content-extra .img-student{
      width: 100%;
      margin-bottom: 40px;
    }
    .img-student img{
      width: auto !important;
    }
    .content-extra .texto-student{
      width: 100%;
    }
    .texto-student span{
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    /* Ajuste adicional para pantallas muy pequeñas (como móviles) */
    .medio {
      width: 100%; /* Asegúrate de que el carrusel ocupe todo el ancho en móviles */
    }
  
    .carousel-item {
      height: 250px; /* Ajusta la altura para pantallas muy pequeñas */
    }
  
    .texto-img {
      font-size: 1px;
      width: 50%;
      margin-bottom: 0px !important; 
    }
   
  }