<div class="col-md-12 login-body">
    <!-- @if(status===0){
        <p>Usuario y/o contraseña incorrecta</p>
    }@else if (status===1) {
        <p>Error, desde el servidor. Contacte al administrador</p>
    } -->
 
    <div class="col-md-4 mx-auto login-container" >
        <form style="padding: 40px;" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <h3 class="text-center">Log-<span class="colored-text">In</span></h3>
            <div class="form-group">
                <label for="UserName">UserName</label>
                <input id="UserName" class="form-control" name="UserName" type="text" #nombreUsuario="ngModel" [(ngModel)]="user.nombreUsuario" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" name="password" type="password" #password="ngModel" [(ngModel)]="user.password" required>
            </div>
            <div class="btn-div">
                <div>
                    <input type="submit" class="btn mt-3" value="Log-In">
                </div>
            <div style="display: flex;">
                 <div style="margin-right: 20px;">
                    <a class="sign-in-btn" [routerLink]="['/loginArtist']">Be Artist</a>
                </div>
                <div>
                    <a class="sign-in-btn" [routerLink]="['signup']" >Sign-In</a>
                </div>    
            </div>
               
            </div>
        </form>
    </div>
</div>
