<div class="artist-body">
    <div class="conteiner">
        <header class="miniMenu">
            <div class="menu">
                <input type="checkbox" id="checkbox">
                <label for="checkbox" class="toggle">
                    <div class="bars" id="bar1"></div>
                    <div class="bars" id="bar2"></div>
                    <div class="bars" id="bar3"></div>
                </label>
                <nav class="nav">
                    <ul style="margin-bottom: 0; padding: 0 0">
                        <li><a href="skills.html">Artists</a></li>
                        
                        <li><a href="/shop" (click)="showHome(true)">Home</a></li>
                        <li class="logout"><a href="#">Log out</a></li>
                    </ul>
                </nav>
                <div class="busqueda" style="display: flex; width: 35%;">
                    <input class="form-control me-2" style="padding-top: 10px;" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" style="padding-top: 10px;" type="submit">Search</button>
                </div>
                <div class="nav-left">
                  <li class="nav-item dropdown" style="list-style: none;">
                    <a class="nav-link dropdown-toggle user-name" href="#" id="DropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">Josue777</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="downItem" href="#" style="color: rgb(184, 72, 72);">Log Out</a></li>
                    </ul>
                  </li>
                </div>
            </div>
        </header>
        <!--Abajo del nav-->

        <!--Cambie acá-->
    </div>
</div>