@if(!authTokenArtist()){
  {{redirectToArtistLogin()}}
}@else{



<div class="artist-body">
  <div class="conteiner">
    <header class="miniMenu">
      <div class="menu">
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
          <div class="bars" id="bar1"></div>
          <div class="bars" id="bar2"></div>
          <div class="bars" id="bar3"></div>
        </label>
        <nav class="nav">
          <ul style="margin-bottom: 0; padding: 0 0">
            <li><a style="cursor: pointer;" (click)="adminObras(true)">Manage works</a></li>
            <li><a style="cursor: pointer;" (click)="showDelivery(true)">Manage shipments</a></li>
            <li class="logout"><a href="#">Log out</a></li>
          </ul>
        </nav>
        <div class="nav-left">
          <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle user-name" href="#" id="DropdownUser" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">{{artist.nombreArtista}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="downItem" href="#" style="color: rgb(184, 72, 72);">Log Out</a></li>
            </ul>
          </li>
        </div>
      </div>
    </header>
    <!--Abajo del nav-->

    @if(delivry){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work">YOUR <span class="workGradient">SHIPMENTS</span> </p>
    </div>
    <!--TABLA DELIVERY--->
    <!--Inicio tabla-->

    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
            data-bs-target="#newObraModal" styleClass="btn-rounded" (click)="openNew()">
          </p-button>
          <p-button type="button" class="asd" data-bs-toggle="modal" data-bs-target="#updateModal"
            (onClick)="editPedido(selectedPedidos[0])" styleClass="btn-rounded"
            [disabled]="!selectedPedidos || selectedPedidos.length !== 1" severity="warning" label="Update">
          </p-button>
        </ng-template>
      </p-toolbar>
      <p-table #dts [value]="pedidosArtist" [rows]="10" [totalRecords]="totalRecords" [paginator]="true"
        [(selection)]="selectedPedidos" [selectAll]="selectAll" [tableStyle]="{ 'min-width': '75rem' }"
        [globalFilterFields]="['factura.idUsuario', 'factura.idObra', 'factura.fecha', 'factura.total', 'envio.direccion', 
    'envio.estado', 'envio.fechaEnviado', 'envio.fechaRecibido']">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="mb-4">Manage orders</h5>
            <span class="p-input-icon-left">
              <input pInputText type="text" #input (input)="dts.filterGlobal(input.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox disabled="true"></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="factura.idUsuario" style="width:9%">Usuario<p-sortIcon
                field="factura.idUsuario"></p-sortIcon></th>
            <th pSortableColumn="factura.idObra" style="width:7%">Obra<p-sortIcon field="factura.idObra"></p-sortIcon>
            </th>
            <th pSortableColumn="factura.fecha" style="width:10%">Fecha<p-sortIcon field="factura.fecha"></p-sortIcon>
            </th>
            <th pSortableColumn="factura.total" style="width:10%">Total<p-sortIcon field="factura.total"></p-sortIcon>
            </th>
            <th pSortableColumn="envio.direccion" style="width:20%">Direccion<p-sortIcon
                field="envio.direccion"></p-sortIcon></th>
            <th pSortableColumn="envio.estado" style="width:12%">EstadoPedido<p-sortIcon
                field="envio.estado"></p-sortIcon></th>
            <th pSortableColumn="envio.fechaEnviado" style="width:14%">FechaEnviado<p-sortIcon
                field="envio.fechaEnviado"></p-sortIcon></th>
            <th pSortableColumn="FechaRecibido" style="width:14%">FechaRecibido<p-sortIcon
                field="envio.fechaRecibido"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido let-ri="rowIndex">
          <tr [pEditableRow]="pedido">
            <td>
              <p-tableCheckbox [value]="pedido"></p-tableCheckbox>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.factura.idUsuario" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ pedido.factura.idUsuario }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.factura.idObra" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ pedido.factura.idObra }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.factura.fecha" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ pedido.factura.fecha }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.factura.total" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ pedido.factura.total }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.envio.direccion" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ pedido.envio.direccion }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.envio.estado" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ pedido.envio.estado }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.envio.fechaEnviado" required />
                </ng-template>
                <ng-template pTemplate="output">
                  @if(pedido.envio.fechaEnviado===null){
                  Unassigned
                  }@else {
                  {{ pedido.envio.fechaEnviado }}
                  }

                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="pedido.envio.fechaRecibido" required />
                </ng-template>
                <ng-template pTemplate="output">
                  @if(pedido.envio.fechaRecibido==null){
                  Unassigned
                  }@else {
                  {{ pedido.envio.fechaRecibido }}
                  }
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">
              </div>
        </ng-template>
      </p-table>
    </div>

    <!--Inicio dialogo New-->

    <div class="modal fade" id="newObraModal" tabindex="-1" aria-labelledby="newObraModalLabel" aria-hidden="true"
      header="Confirm Delete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newObraModalLabel">New Shipments
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form enctype="multipart/form-data" #newPedidoForm="ngForm" (ngSubmit)="storePedido(newPedidoForm)">
            <div class="modal-body">
              <div class="form-group">
                <label for="IdUsuario">Id Usuario</label>
                <input id="IdUsuario" class="form-control" name="idUsuario" type="text" #name="ngModel"
                  [(ngModel)]="pedido.factura.idUsuario" required>
              </div>
              <div class="form-group">
                <label for="IdObra">IdObra</label>
                <input id="IdObra" class="form-control" name="idObra" type="text" #name="ngModel"
                  [(ngModel)]="pedido.factura.idObra" required>
              </div>

              <div class="form-group">
                <label for="Fecha">Fecha</label>
                <input id="Fecha" class="form-control" name="fecha" type="text" #name="ngModel"
                  [(ngModel)]="pedido.factura.fecha" required>
              </div>
              <div class="form-group">
                <label for="Descuento">Descuento</label>
                <input id="Descuento" class="form-control" name="descuento" type="text" #name="ngModel"
                  [(ngModel)]="pedido.factura.descuento" required>
              </div>
              <div class="form-group">
                <label for="Direccion">Dirección</label>
                <input id="Direccion" class="form-control" name="direccion" type="text" #name="ngModel"
                  [(ngModel)]="pedido.envio.direccion" required>
              </div>
              <div>
                <label for="Province" class="form-label">Province</label>
                <select id="Province" required class="form-select" [(ngModel)]="pedido.envio.provincia" name="province">
                  <option selected disabled hidden>Choose...</option>
                  <option>Guanacaste</option>
                  <option>Alajuela</option>
                  <option>Heredia</option>
                  <option>Puntarenas</option>
                  <option>Limon</option>
                  <option>San Jose</option>
                  <option>Cartago</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Ciudad">Ciudad</label>
                <input id="Ciudad" class="form-control" name="ciudad" type="text" #size="ngModel"
                  [(ngModel)]="pedido.envio.ciudad" required>
              </div>
              <div class="form-group">
                <label for="CodigoPostal">Codigo Postal</label>
                <input id="CodigoPostal" class="form-control" name="codigoPostal" type="text" #size="ngModel"
                  [(ngModel)]="pedido.envio.codigoPostal" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" icon="pi pi-check">Close</button>
              <input type="submit" class="btn btn-primary"
                style="color: rgb(255, 255, 255); background-color: rgb(124, 10, 10); border: none;" value="Add"
                data-bs-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">UPDATE</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="Estado">Estado</label>
                <input id="Estado" class="form-control" name="estado" type="text" name="estado"
                  [(ngModel)]="pedidoAux.envio.estado" required>
              </div>
              <div class="form-group">
                <label for="FechaEnviado">Fecha Enviado</label>
                <input id="FechaEnviado" class="form-control" name="fechaEnviado" type="text" name="fechaEnviado"
                  [(ngModel)]="pedidoAux.envio.fechaEnviado" required>
              </div>
              <div class="form-group">
                <label for="FechaRecibido">Fecha Recibido</label>
                <input id="FechaRecibido" class="form-control" name="fechaRecibido" type="text"
                  [(ngModel)]="pedidoAux.envio.fechaRecibido" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" style="color: white; background-color: rgb(124, 10, 10);"
                  data-bs-dismiss="modal" (click)="updatePedido(pedidoAux.envio)">Actualizar</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
    <!--Cierre tabla-->
    }



    @if(administration){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work">YOUR <span class="workGradient">WORKS</span> </p>
    </div>
    <!--Inicio tabla-->

    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
            data-bs-target="#newObraModal" styleClass="btn-rounded" (click)="openNew()">
          </p-button>
          <p-button type="button" class="asd" data-bs-toggle="modal" data-bs-target="#exampleModal"
            styleClass="btn-rounded" [disabled]="!selectedObras ||!selectedObras.length" severity="danger"
            label="Delete">
          </p-button>
          <p-button type="button" class="asd" data-bs-toggle="modal" data-bs-target="#updateModal"
            (onClick)="editObra(selectedObras[0])" styleClass="btn-rounded"
            [disabled]="!selectedObras || selectedObras.length !== 1" severity="warning" label="Update">
          </p-button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="obras" [rows]="10" [totalRecords]="totalRecords" [paginator]="true"
        [(selection)]="selectedObras" [selectAll]="selectAll" [tableStyle]="{ 'min-width': '75rem' }"
        [globalFilterFields]="['id', 'nombre', 'categoria', 'tecnica', 'tamano', 'precio', 'fechaCreacion', 'fechaRegistro', 'disponibilidad']">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="mb-4">Manage work</h5>
            <span class="p-input-icon-left">
              <input pInputText type="text" #input (input)="dt.filterGlobal(input.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox disabled="true"></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id" style="width:9%">Code <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nombre" style="width:7%">Name <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="categoria" style="width:6%">Category <p-sortIcon field="categoria"></p-sortIcon></th>
            <th pSortableColumn="tecnica" style="width:10%">Tecnica <p-sortIcon field="tecnica"></p-sortIcon></th>
            <th pSortableColumn="tamano" style="width:9%">Size <p-sortIcon field="tamano"></p-sortIcon></th>
            <th pSortableColumn="precio" style="width:8%">Price <p-sortIcon field="precio"></p-sortIcon></th>
            <th pSortableColumn="fechaCreacion" style="width:14%">Creation Date <p-sortIcon
                field="fechaCreacion"></p-sortIcon></th>
            <th pSortableColumn="fechaRegistro" style="width:14%">Registration Date <p-sortIcon
                field="fechaRegistro"></p-sortIcon></th>
            <th pSortableColumn="disponibilidad" style="width:11%">Availability <p-sortIcon
                field="disponibilidad"></p-sortIcon></th>
            <th style="width:20%">image</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obra let-ri="rowIndex">
          <tr [pEditableRow]="obra">
            <td>
              <p-tableCheckbox [value]="obra"></p-tableCheckbox>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.id" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.id }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.nombre" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.nombre }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.categoria" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.categoria }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.tecnica" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.tecnica }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.tamano" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.tamano }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.precio" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.precio }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.fechaCreacion" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.fechaCreacion }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.fechaRegistro" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.fechaRegistro }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.disponibilidad" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.disponibilidad ? 'En venta' : 'Vendido' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="image" [(ngModel)]="obra.imagen" required />
                </ng-template>
                <ng-template pTemplate="output">
                  <img src="{{urlAPI}}{{obra.imagen}}" alt="" style="width: 150px;" />
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">
                <!-- Botones de acción -->
                <!-- <button pButton pRipple icon="pi pi-pencil" (click)="editProduct(obra)"></button>-->
                <!--  <button pButton pRipple icon="pi pi-trash" (click)="deleteProduct(obra)"></button>-->
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!--Inicio dialogo New-->

    <div class="modal fade" id="newObraModal" tabindex="-1" aria-labelledby="newObraModalLabel" aria-hidden="true"
      header="Confirm Delete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newObraModalLabel">New Obra
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form enctype="multipart/form-data" #newObraForm="ngForm" (ngSubmit)="storeImage(newObraForm)">
            <div class="modal-body">
              <div class="form-group input-wrapper">
                <label for="Name">Name</label>
                <input id="Name" class="input-box" name="name" type="text" #name="ngModel" [(ngModel)]="obra.nombre"
                  required>
                <span class="underline"></span>
              </div>
              <div class="form-group ">
                <label for="Tecnic" style="margin-right: 10px;">Tecnic </label>
                <select id="Tecnic" name="tecnic" class="selector " #tecnic="ngModel" [(ngModel)]="obra.tecnica"
                  required>
                  <option value="Oil on canvas">Oil on canvas</option>
                  <option value="Watercolor">Watercolor</option>
                  <option value="Watercolor on paper">Watercolor on paper</option>
                  <option value="Tempera">Tempera</option>
                  <option value="Pastel painting">Pastel painting</option>
                  <option value="Fresco painting">Fresco painting</option>
                  <option value="Digital painting">Digital painting</option>
                  <option value="Wood carving">Wood carving</option>
                  <option value="Marble sculpture">Marble sculpture</option>
                  <option value="Engraving">Engraving</option>
                  <option value="Serigraphy">Serigraphy</option>
                  <option value="Art photography">Art photography</option>
                  <option value="Digital art">Digital art</option>
                  <option value="Collage">Collage</option>
                  <option value="Pyrography">Pyrography</option>
                  <option value="Bronze sculpture">Bronze sculpture</option>
                </select>
              </div>
              <div class="form-group input-wrapper">
                <label for="Size">Size</label>
                <input id="Size" class=" input-box" name="size" type="text" #size="ngModel" [(ngModel)]="obra.tamano"
                  required>
              </div>
              <div class="form-group input-wrapper">
                <label for="Price">Price</label>
                <input id="Price" class="input-box" name="price" type="text" #price="ngModel" [(ngModel)]="obra.precio"
                  required>
              </div>
              <div class="form-group ">
                <label for="Category" style="margin-right: 10px;">Category: </label>
                <select id="Category" class="selector " name="category" #category="ngModel" [(ngModel)]="obra.categoria"
                  required>
                  <option value="Cubism">Cubism</option>
                  <option value="Impressionism">Impressionism</option>
                  <option value="Expressionism">Expressionism</option>
                  <option value="Realism">Realism</option>
                  <option value="Surrealism">Surrealism</option>
                  <option value="Abstract">Abstract</option>
                  <option value="Renaissance">Renaissance</option>
                  <option value="Baroque">Baroque</option>
                  <option value="Rococo">Rococo</option>
                  <option value="Romanticism">Romanticism</option>
                  <option value="Neoclassicism">Neoclassicism</option>
                  <option value="Modernism">Modernism</option>
                  <option value="Pop art">Pop Art</option>
                  <option value="Naive art">Naïve Art</option>
                </select>
              </div>
              <div class="form-group">
                <label for="CreateDate">Create Date</label>
                <input id="CreateDate" class="form-control" name="createDate" type="date"
                  (change)="onFechaChange($event)" #createDate="ngModel" [(ngModel)]="obra.fechaCreacion" required>
              </div>
              <div *ngIf="fechaSeleccionada">
                <p>Fecha seleccionada: Año: {{ ano }}, Mes: {{ mes }}, Día: {{ dia }}</p>
              </div>


              <div class="form-group">
                <label for="Image">Image</label>
                <input id="Image" class="form-control" name="image" type="file" (change)="onImageFileChange($event)"
                  required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" icon="pi pi-check">Close</button>
              <input type="submit" class="btn btn-primary"
                style="color: rgb(255, 255, 255); background-color: rgb(124, 10, 10); border: none;" value="Add"
                data-bs-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Final dialogo New-->

    <!--Inicio dialogo Delete-->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      header="Confirm Delete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete the artwork?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" icon="pi pi-check">Close</button>
            <button type="button" style="color: rgb(255, 255, 255); background-color: rgb(124, 10, 10); border: none;"
              data-bs-dismiss="modal" class="btn btn-primary" icon="pi pi-times"
              (click)="deleteSelectedObras()">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!--Final dialogo Delete-->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">UPDATE</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- #updateObraForm="ngForm" (ngSubmit)="storeImage(updateObraForm)" -->
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="obra.nombre" name="nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-precio" class="col-form-label">Precio:</label>
                <input type="text" class="form-control" id="recipient-precio" [(ngModel)]="obra.precio" name="precio">
              </div>
              <div class="mb-3">
                <label for="recipient-categoria" class="col-form-label">Categoria:</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{obra.categoria}}
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let style1 of artStyles" (click)="selectCategoria(style1)">
                      <a class="dropdown-item cambio-color">{{ style1 }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mb-3">
                <label for="recipient-tecnica" class="col-form-label">Tecnica:</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{obra.tecnica}}
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let tecnique of tecnicas" (click)="selectTecnica(tecnique)">
                      <a class="dropdown-item cambio-color">{{ tecnique }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <div class="mb-3">
                <label for="recipient-disponibilidad" class="col-form-label">Disponibilidad:</label>
                <input type="text" class="form-control" id="recipient-disponibilidad" [(ngModel)]="obra.disponibilidad"
                  name="disponibilidad">
              </div> -->
              <div class="mb-3">
                <label for="recipient-tamano" class="col-form-label">Tamaño:</label>
                <input type="text" class="form-control" id="recipient-tamano" [(ngModel)]="obra.tamano" name="tamano">
              </div>
              <div class="form-group">
                <label for="CreateDate">Create Date</label>
                <input id="CreateDate" class="form-control" name="createDate" type="date" (change)="onFechaChange($event)" #createDate="ngModel"
                  [(ngModel)]="obra.fechaCreacion" required>
              </div>
              <div class="mb-3">
                <label for="recipient-imagen" class="col-form-label">Imagen:</label>
                <input type="file" class="form-control" id="recipient-imagen" (change)="onImageFileChange($event)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" style="color: white; background-color: rgb(124, 10, 10);"
                  data-bs-dismiss="modal" (click)="updateObra(obra.imagen)">Actualizar</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
    <!--Cierre tabla-->


    }@else{<div>Error</div>}

  </div>
</div>
}