.artist-body {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    overflow: auto;
  }
  .conteiner {
    width: 90%;
    height: auto;
  }
  
  .miniMenu {
    position: relative;
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
  }
  .menu {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fija el navbar */
    top: 0; /* Posición superior */
    width: 90%; /* Ocupa todo el ancho */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    backdrop-filter: blur(5px); /* Ajusta según el diseño */
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.5s ease;
  }
  
  .menu #minuInfo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    color: antiquewhite;
    animation: mover-derecha 2s 1;
  }
  .menu nav ul a:hover {
    color: #000;
  }
  .menu nav ul li {
    list-style: none; 
    float: left;
  }
  
  .menu nav ul a {
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.2s ease;
  }
  .menu nav ul a:hover {
    color: #DBB385;
    
  }
  .menu nav ul .downItem:hover {
    color: #000;
  }
  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(246, 246, 246);
    border-radius: 4px;
  }
  
  .nav-left {
    display: flex;
    width: 20%;
    justify-content: space-around;
  }
  .logout {
    display: none;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1, #bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  
  .user-name {
    display: flex;     
    align-items: center;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
  }
  
  .dropdown-menu.show {
    border: solid 2px white;
    background-color: black;
  }
  
  .dropdown-menu li {
    width: 100%;
    display: block;
    cursor: pointer; /* Esto hace que el cursor se convierta en una mano */
  }
  
  .dropdown-menu li:hover {
    background-color: rgba(195, 187, 255, 0.956);
  }
  
  .downItem {
    color: bisque;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    /*height: 4vh;*/
    padding-top: 5px;
    display: block; /* Hace que todo el elemento sea clicable */
  }
  .dropdown-menu li:hover .downItem{
    color: black; /* Esto cambia el color del texto al pasar el mouse por encima */
    transition: color 0.3s;
  }
  
  @media (max-width: 993px) {
    .miniMenu {
        min-height: 70px;
    }
    .loOUt {
        display: none !important;
    }
    .menu {
        height: 60px;
        padding-left: 20px;
    }
    .menu .toggle {
        display: inline-flex;
        gap: 10px;
    }
    .menu nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 10px;
        background-color: #5e5e5eb2;
        display: none;
    }
    .menu nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .menu nav ul li {
        width: 100%;
        text-align: center;
    }
    .menu nav ul li:hover {
        background-color: rgba(76, 150, 173, 0.587);
    }
    .menu nav ul a:hover {
        color: #000;
    }
    .container {
        width: 100vw;
    }
    #checkbox:checked ~ nav {
        display: initial;
    }
    .UserIcon {
        display: none;
    }
    .logout {
        display: initial;
    }
    .user-name {
        font-size: 2vw ;
    }
    .busqueda {
        width: 60% !important;
    }
  }

  /*------------------------*/
  .work{
    margin-top: 4rem;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(4em,10vw, 9em);
    
  }
  .workGradient{
    background: linear-gradient(90deg,rgba(219, 133, 133, 1),rgba(54, 0, 207, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .categoria{
    color: white;
    margin-top: 2rem;
    margin-bottom: 1em;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2em,3vw, 3em);
  }
  .asd{
    margin-left: 10px;
    border-radius: 20px;
  }
  button .p-ripple .p-element .p-button .p-component .p-button-success .btn-rounded{
    border-radius: 10px;
  }
  .cambio-color{
    background-color: aliceblue;

  }
  .cambio-color:hover{
    background-color: rgb(96, 114, 129);
    
  }