<div class="artist-body">
  <div class="conteiner">
    <header class="miniMenu">
      <div class="menu">
        <input type="checkbox" id="checkbox">
        <label for="checkbox" class="toggle">
          <div class="bars" id="bar1"></div>
          <div class="bars" id="bar2"></div>
          <div class="bars" id="bar3"></div>
        </label>
        <nav class="nav">
          <ul style="margin-bottom: 0; padding: 0 0">
            <li><a style="cursor: pointer;" (click)="adminObras(true)">Manage works</a></li>
            <li><a style="cursor: pointer;" (click)="showDelivery(true)">Manage shipments</a></li>
            <li class="logout"><a href="#">Log out</a></li>
          </ul>
        </nav>
        <div class="nav-left">
          <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle user-name" href="#" id="DropdownUser" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">{{artist.nombreArtista}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="downItem" href="#" style="color: rgb(184, 72, 72);">Log Out</a></li>
            </ul>
          </li>
        </div>
      </div>
    </header>
    <!--Abajo del nav-->

    @if(delivry){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work">YOUR <span class="workGradient">SHIPMENTS</span> </p>
    </div>
    <!--TABLA DELIVERY--->

    }



    @if(administration){
    <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
      <p class="work">YOUR <span class="workGradient">WORKS</span> </p>
    </div>
    <!--Inicio tabla-->

    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" data-bs-toggle="modal"
            data-bs-target="#newObraModal" styleClass="btn-rounded" (click)="openNew()">
          </p-button>
          <p-button type="button" class="asd" data-bs-toggle="modal" data-bs-target="#exampleModal"
            styleClass="btn-rounded" [disabled]="!selectedObras ||!selectedObras.length" severity="danger"
            label="Delete">
          </p-button>
          <p-button type="button" class="asd" data-bs-toggle="modal" data-bs-target="#updateModal" (onClick)="editObra(selectedObras[0])"
            styleClass="btn-rounded" [disabled]="!selectedObras || selectedObras.length !== 1" severity="warning"
            label="Update">
          </p-button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="obras" [rows]="10" [totalRecords]="totalRecords" [paginator]="true"
        [(selection)]="selectedObras" [selectAll]="selectAll" [tableStyle]="{ 'min-width': '75rem' }"
        [globalFilterFields]="['id', 'nombre', 'categoria', 'tecnica', 'tamano', 'fechaCreacion', 'fechaRegistro', 'disponibilidad']">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="mb-4">Manage work</h5>
            <span class="p-input-icon-left">
              <input pInputText type="text" #input (input)="dt.filterGlobal(input.value, 'contains')"
                placeholder="Search..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id" style="width:20%">Code <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nombre" style="width:20%">Name <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="categoria" style="width:20%">Category <p-sortIcon field="categoria"></p-sortIcon></th>
            <th pSortableColumn="tecnica" style="width:20%">Tecnica <p-sortIcon field="tecnica"></p-sortIcon></th>
            <th pSortableColumn="tamano" style="width:20%">Tamano <p-sortIcon field="tamano"></p-sortIcon></th>
            <th pSortableColumn="tamano" style="width:20%">Precio <p-sortIcon field="tamano"></p-sortIcon></th>
            <th pSortableColumn="fechaCreacion" style="width:20%">Fecha de Creacion <p-sortIcon
                field="fechaCreacion"></p-sortIcon></th>
            <th pSortableColumn="fechaRegistro" style="width:20%">Fecha de Registro <p-sortIcon
                field="fechaRegistro"></p-sortIcon></th>
            <th pSortableColumn="disponibilidad" style="width:20%">Disponibilidad <p-sortIcon
                field="disponibilidad"></p-sortIcon></th>
            <th pSortableColumn="imagen" style="width:20%">Imagen <p-sortIcon field="imagen"></p-sortIcon></th>
            <th style="width:20%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obra let-ri="rowIndex">
          <tr [pEditableRow]="obra">
            <td>
              <p-tableCheckbox [value]="obra"></p-tableCheckbox>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.id" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.id }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.nombre" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.nombre }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.categoria" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.categoria }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.tecnica" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.tecnica }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.tamano" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.tamano }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.precio" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.precio }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.fechaCreacion" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.fechaCreacion }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.fechaRegistro" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.fechaRegistro }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="obra.disponibilidad" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ obra.disponibilidad ? 'En venta' : 'Vendido' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="image" [(ngModel)]="obra.imagen" required />
                </ng-template>
                <ng-template pTemplate="output">
                  <img src="{{urlAPI}}{{obra.imagen}}" alt="" style="width: 100px;" />
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">
                <!-- Botones de acción -->
                <!-- <button pButton pRipple icon="pi pi-pencil" (click)="editProduct(obra)"></button>-->
                <!--  <button pButton pRipple icon="pi pi-trash" (click)="deleteProduct(obra)"></button>-->
              </div>
            </td>
            <td>
              <button data-bs-toggle="modal" data-bs-target="#updateModal" class="fa-solid fa-pencil"
                (click)="editObra(obra)">
              </button>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!--Inicio dialogo New-->

    <div class="modal fade" id="newObraModal" tabindex="-1" aria-labelledby="newObraModalLabel" aria-hidden="true"
      header="Confirm Delete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newObraModalLabel">New Obra
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form enctype="multipart/form-data" #newObraForm="ngForm" (ngSubmit)="storeImage(newObraForm)">
            <div class="modal-body">
              <div class="form-group">
                <label for="Name">Name</label>
                <input id="Name" class="form-control" name="name" type="text" #name="ngModel" [(ngModel)]="obra.nombre"
                  required>
              </div>
              <div class="form-group">
                <label for="Tecnic">Tecnic</label>
                <select id="Tecnic" name="tecnic" #tecnic="ngModel" [(ngModel)]="obra.tecnica" required>
                  <option value="Oil on canvas">Oil on canvas</option>
                  <option value="Watercolor">Watercolor</option>
                  <option value="Watercolor on paper">Watercolor on paper</option>
                  <option value="Tempera">Tempera</option>
                  <option value="Pastel painting">Pastel painting</option>
                  <option value="Fresco painting">Fresco painting</option>
                  <option value="Digital painting">Digital painting</option>
                  <option value="Wood carving">Wood carving</option>
                  <option value="Marble sculpture">Marble sculpture</option>
                  <option value="Engraving">Engraving</option>
                  <option value="Serigraphy">Serigraphy</option>
                  <option value="Art photography">Art photography</option>
                  <option value="Digital art">Digital art</option>
                  <option value="Collage">Collage</option>
                  <option value="Pyrography">Pyrography</option>
                  <option value="Bronze sculpture">Bronze sculpture</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Size">Size</label>
                <input id="Size" class="form-control" name="size" type="text" #size="ngModel" [(ngModel)]="obra.tamano"
                  required>
              </div>
              <div class="form-group">
                <label for="Price">Price</label>
                <input id="Price" class="form-control" name="price" type="text" #price="ngModel"
                  [(ngModel)]="obra.precio" required>
              </div>
              <div class="form-group">
                <label for="Category">Category</label>
                <select id="Category" name="category" #category="ngModel" [(ngModel)]="obra.categoria" required>
                  <option value="Cubism">Cubism</option>
                  <option value="Impressionism">Impressionism</option>
                  <option value="Expressionism">Expressionism</option>
                  <option value="Realism">Realism</option>
                  <option value="Surrealism">Surrealism</option>
                  <option value="Abstract">Abstract</option>
                  <option value="Renaissance">Renaissance</option>
                  <option value="Baroque">Baroque</option>
                  <option value="Rococo">Rococo</option>
                  <option value="Romanticism">Romanticism</option>
                  <option value="Neoclassicism">Neoclassicism</option>
                  <option value="Modernism">Modernism</option>
                  <option value="Pop art">Pop Art</option>
                  <option value="Naive art">Naïve Art</option>
                </select>
              </div>
              <div class="form-group">
                <label for="CreateDate">Create Date</label>
                <input id="CreateDate" class="form-control" name="createDate" type="text" #createDate="ngModel"
                  [(ngModel)]="obra.fechaCreacion" required>
              </div>
              <div class="form-group">
                <label for="RegisterDate">Register Date</label>
                <input id="RegisterDate" class="form-control" name="registerDate" type="text" #registerDate="ngModel"
                  [(ngModel)]="obra.fechaRegistro" required>
              </div>
              <div class="form-group">
                <label for="Image">Image</label>
                <input id="Image" class="form-control" name="image" type="file" (change)="onImageFileChange($event)"
                  required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" icon="pi pi-check">Close</button>
              <input type="submit" class="btn btn-primary"
                style="color: rgb(255, 255, 255); background-color: rgb(124, 10, 10); border: none;" value="Add"
                data-bs-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Final dialogo New-->

    <!--Inicio dialogo Delete-->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      header="Confirm Delete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Seguro que desea eliminar la obra?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" icon="pi pi-check">Close</button>
            <button type="button" style="color: rgb(255, 255, 255); background-color: rgb(124, 10, 10); border: none;"
              data-bs-dismiss="modal" class="btn btn-primary" icon="pi pi-times"
              (click)="deleteSelectedObras()">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!--Final dialogo Delete-->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">UPDATE</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
<!-- #updateObraForm="ngForm" (ngSubmit)="storeImage(updateObraForm)" -->
            <form >
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="obra.nombre" name="nombre">
              </div>
              <div class="mb-3">
                <label for="recipient-precio" class="col-form-label">Precio:</label>
                <input type="text" class="form-control" id="recipient-precio" [(ngModel)]="obra.precio" name="precio">
              </div>
              <div class="mb-3">
                <label for="recipient-categoria" class="col-form-label">Categoria:</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{obra.categoria}}
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let style1 of artStyles" (click)="selectCategoria(style1)">
                      <a class="dropdown-item cambio-color">{{ style1 }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mb-3">
                <label for="recipient-tecnica" class="col-form-label">Tecnica:</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{obra.tecnica}}
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let tecnique of tecnicas" (click)="selectTecnica(tecnique)">
                      <a class="dropdown-item cambio-color">{{ tecnique }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <div class="mb-3">
                <label for="recipient-disponibilidad" class="col-form-label">Disponibilidad:</label>
                <input type="text" class="form-control" id="recipient-disponibilidad" [(ngModel)]="obra.disponibilidad"
                  name="disponibilidad">
              </div> -->
              <div class="mb-3">
                <label for="recipient-tamano" class="col-form-label">Tamaño:</label>
                <input type="text" class="form-control" id="recipient-tamano" [(ngModel)]="obra.tamano" name="tamano">
              </div>
              <div class="mb-3">
                <label for="recipient-fecha-creacion" class="col-form-label">Fecha Creacion:</label>
                <input type="text" class="form-control" id="recipient-fecha-creacion" [(ngModel)]="obra.fechaCreacion"
                  name="fechaCreacion">
              </div>
              <div class="mb-3">
                <label for="recipient-fecha-registro" class="col-form-label">Fecha Registro:</label>
                <input type="text" class="form-control" id="recipient-fecha-registro" [(ngModel)]="obra.fechaRegistro"
                  name="fechaRegistro">
              </div>
              <div class="mb-3">
                <label for="recipient-imagen" class="col-form-label">Imagen:</label>
                <input type="file" class="form-control" id="recipient-imagen" (change)="onImageFileChange($event)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" style="color: white; background-color: rgb(124, 10, 10);"
                  data-bs-dismiss="modal" (click)="updateObra(obra.imagen)">Actualizar</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
    <!--Cierre tabla-->


    }@else{<div>Error</div>}

  </div>
</div>