<div class="shop-body">
    <div class="conteiner">
        <header class="miniMenu">
            <div class="menu">
                <input type="checkbox" id="checkbox">
                <label for="checkbox" class="toggle">
                    <div class="bars" id="bar1"></div>
                    <div class="bars" id="bar2"></div>
                    <div class="bars" id="bar3"></div>
                </label>
                <nav class="nav">
                    <ul style="margin-bottom: 0; padding: 0 0">
                        <li><a href="Index.html">See all</a></li>
                        <li><a href="skills.html">Artists</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li class="logout"><a href="#">Log out</a></li>
                    </ul>
                </nav>
                <div class="busqueda" style="display: flex; width: 35%;">
                    <input class="form-control me-2" style="padding-top: 10px;" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" style="padding-top: 10px;" type="submit">Search</button>
                </div>
                <div class="nav-left">
                    <span class="user-name"><i class="UserIcon fa-solid fa-circle-user"></i>Josu77Fire</span>
                    <p class="loOUt" style="color: rgb(215, 124, 124); width: 35%; border-left: solid 2px rgb(215, 124, 124); margin: 10px 0 10px 0; display: flex; align-items: flex-end; font-size: 18px; justify-content: flex-end;">Log out</p>
                </div>
            </div>
        </header>
        <!--Abajo del nav-->
        <div style="width: 100%; color: white;  border-bottom: solid 5px rgb(142, 141, 141);">
            <p class="work"><span class="workGradient">all works
            </span> of art</p>
        </div>
    </div>
</div>
