/* Estilo del contenedor de inicio de sesión */
.login-body{
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 9px,rgba(255,255,255,0.05) 9px, rgba(255,255,255,0.05) 12px,transparent 12px, transparent 22px,rgba(255,255,255,0.05) 22px, rgba(255,255,255,0.05) 29px,transparent 29px, transparent 38px,rgba(255,255,255,0.05) 38px, rgba(255,255,255,0.05) 40px),repeating-radial-gradient(circle at center center, rgb(0,0,0) 0px, rgb(0,0,0) 5px,rgb(0,0,0) 5px, rgb(0,0,0) 17px,rgb(0,0,0) 17px, rgb(0,0,0) 18px,rgb(0,0,0) 18px, rgb(0,0,0) 32px,rgb(0,0,0) 32px, rgb(0,0,0) 33px,rgb(0,0,0) 33px, rgb(0,0,0) 47px); background-size: 82px 82px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
}

h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.colored-text {
    color: #DBB385;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    color: #ffffff;

}
.btn-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #DBB385;
    border-radius: 5px;
}
.sign-in-btn{
    background-color: transparent;
    color: #5b5b5b;
    margin-top: 30px;
}
.sign-in-btn:hover{
    color: #ffffff
}

.btn:hover {
    color: #ffffff;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ffc107;
}

.buttom-btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

 .back{
    text-decoration: none;
    color: #eedcdc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .back:hover{
    color: #987878;
 }
