<div class="view-body">
    <div class="view-container">
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">WorkShops</a></li>
            </ul>
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <button><i class="fa fa-search"></i></button>
            </div>
            <div class="user-actions">
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                <a href="#">User Name</a>
                <a href="#" class="logout">Log out</a>
            </div>
        </nav>
        <main>
            <div class="main-container">
                <div class="card-container">
                    <img src="../../../assets/img/ejemploObra.jpg" alt="idk">
                    <div class="info">
                        <p>Nombre:</p>
                        <p>Precio</p>
                        <p>Descripcion</p>
                    </div>
                </div>

                <div class="btn-container">
                    <a href="#" class="back-btn">BACK</a>
                    <button class="cart-btn">Agregar a Carrito</button>
                </div>
            </div>
        </main>
    </div>
</div>